*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  height: 100vh;
}

main{
  height: 100vh;

}

.mapa{
  height:100%;
  width: 100%;
  overflow: hidden;
  
}

.grama{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7200px;
  width: 7200px;
  background-image: url('assets/grama.jpeg');
}

.wall{
  position: relative;
  height: 3600px;
  width: 3600px;
  border: 3px solid red;
}
.kaique{
  transform-origin: 50% 50%;
  position: absolute;
  background-image: url('assets/heroi.jpg');
  background-size: cover;
  height: 40px;
  width: 40px;
}

.inimigo{
  transform-origin: 50% 50%;
  position: absolute;
  height: 80px;
  width: 80px;
  background-image: url("assets/originalImage.png");
  background-size: cover;
  background-position: center;
}

/* *****************************  STYLE DO COMBATE  ************************** */

.cenarioCombate{
  height: 100vh;
  width: 100vw;
  background-color: rgb(103, 103, 242);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.arena{
  height: 20vh ;
  background-color: green;
}

.painel{
  height: 30vh;
  background-color: rgba(226, 222, 222, 0.663);
  display: flex;
}
.hab{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center ;
}
.btns_hab{
  font-size: large;
  width: 250px;
  height: 70px;
}

.life{
  margin: 50px 20px;
  height: 50px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
}



#life_barr {
  background-color: red;
  font-size: 22px;
  font-weight: 700;
  padding: 13px;
}


/* .pisca{
display: none;
height: 100%;
width:100%;
animation-name: piscapisca;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-fill-mode: both;
}
@keyframes piscapisca {
  0%{
    background-color: red;
  }50%{
    background-color: black;
  }100%{
    background-color: white;
  }
} */


