*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  height: 100vh;
}

main{
  height: 100vh;

}

.mapa{
  height:100%;
  width: 100%;
  overflow: hidden;
}

.grama{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7000px;
  width: 7000px;
  background-image: url('assets/grama.jpeg');
}

.wall{
  position: static;
  height: 3456px;
  width: 3456px;
  border: 3px solid red;
}
.kaique{
  position: relative;
  background-image: url('assets/heroi.jpg');
  background-size: cover;
  height: 40px;
  width: 40px;
}



.inimigo{
  position: relative;
  height: 80px;
  width: 80px;
  background-image: url("assets/originalImage.png");
  background-size: cover;
  background-position: center;
}
